<!DOCTYPE html>
<html>
<head>
    <title>Amazon Shopping Assistant</title>
</head>
<body>
    <h1>Amazon Shopping Assistant</h1>
    <form method="POST" action="/">
        <label for="query">What are you looking to buy?</label><br>
        <input type="text" id="query" name="query" style="width:400px;" required><br><br>
        <fieldset>
            <legend>Priorities (select what matters most):</legend>
            <input type="checkbox" id="pref_rating" name="pref_rating">
            <label for="pref_rating">High Rating</label><br>
            <input type="checkbox" id="pref_reviews" name="pref_reviews">
            <label for="pref_reviews">High Reviews</label><br>
            <input type="checkbox" id="pref_price" name="pref_price">
            <label for="pref_price">Low Price</label><br>
        </fieldset>
        <br>
        <button type="submit">Search</button>
    </form>
</body>
</html>
